@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
</style>


:root{
    --headings: "Raleway";
    --body: "Lora";
}
html{
    font-size: 16px;
}

body{background-color: black;
color: white;
font-family: var(--body)
font-size: 16px;
}


img{
    max-width: 100%;
    max-height: 100%;
}
.text-center{
    text-align: center;
}

.background-fondo{
    background: rgb(133,0,255);
background: linear-gradient(90deg, rgba(133,0,255,1) 22%, rgba(115,118,18,1) 37%, rgba(36,34,0,1) 50%, rgba(108,109,21,1) 65%, rgba(0,43,255,1) 85%);
}
h1,
h2,
h3,
h4,
h5 {
    font-family: var(--headings);
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-gray{
    color: gray;
}
.text-yellowgreen {
    color: yellowgreen;
}

li {
    max-width: 100%;
    max-height: 100%;
  }